<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t3h.immunization">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/artboard12"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.StartsActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ChangeLanguageActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddBabyActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VerificationActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SetupActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ForgotActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditBaByActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BabyInformationActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditInjectionsActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".view.login.LoginActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CategoriActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="Label for the Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".utils.AlarmReceiver"
            android:label="BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>